__pycache__/DTO.cpython-312.pyc
trafficdata/traffic_data_app/__pycache__/views.cpython-312.pyc
trafficdata/traffic_data_app/utils/__pycache__/DTO.cpython-312.pyc
trafficdata/traffic_data_app/utils/__pycache__/ReadCSV.cpython-312.pyc
trafficdata/traffic_data_app/utils/__pycache__/DTO.cpython-312.pyc
trafficdata/trafficdata/__pycache__/urls.cpython-312.pyc
trafficdata/db.sqlite3
trafficdata/traffic_data_app/__pycache__/views.cpython-312.pyc
trafficdata/trafficdata/__pycache__/urls.cpython-312.pyc
trafficdata/traffic_data_app/utils/__pycache__/DTO.cpython-312.pyc
