{% extends 'base_generic.html' %}

{% block content %}
  <h2>Traffic Data</h2>
<button onclick="location.href='{% url "reload_data" %}'">Reload Data</button>
<button onclick="location.href='{% url "persist_data" %}'">Persist Data</button>
<button onclick="location.href='{% url "insert_data" %}'">Add new record</button>
<form method="POST" action="{% url 'delete_selected_data' %}">
  {% csrf_token %}  
<table>
    <tr>
      <th>Select</th>
      <th>Unique ID</th>
      <th>Section ID</th>
      <th>Highway</th>
      <th>Section</th>
      <th>Section Length</th>
      <th>Section Description</th>
      <th>Date</th>
      <th>Description</th>
      <th>Group</th>
      <th>Type</th>
      <th>County</th>
      <th>ADT</th>
      <th>Direction</th>
    </tr>
    {% for data in traffic_data %}
    <tr>
      <td><input type="checkbox" name="selected_data" value="{{ data.id }}"></td>
      <td>{{ data.id }}</td>
      <td>{{ data.sectionID }}</td>
      <td>{{ data.highway }}</td>
      <td>{{ data.section }}</td>
      <td>{{ data.sectionLength }}</td>
      <td>{{ data.sectionDescription }}</td>
      <td>{{ data.date }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.group }}</td>
      <td>{{ data.type }}</td>
      <td>{{ data.county }}</td>
      <td>{{ data.adt }}</td>
      <td>{{ data.direction }}</td>
      <td><a href="{% url 'edit_data' data.id %}">Edit</a></td>
    </tr>
    {% endfor %}
  </table>
  <button type="submit">Delete Selected</button>
</form>
{% endblock %}