{% extends 'base_generic.html' %}

{% block content %}
  <h2>Traffic Data</h2>
  <table>
    <tr>
      <th>Section ID</th>
      <th>Highway</th>
      <th>Section</th>
      <th>Section Length</th>
      <th>Section Description</th>
      <th>Date</th>
      <th>Description</th>
      <th>Group</th>
      <th>Type</th>
      <th>County</th>
      <th>ADT</th>
      <th>Direction</th>
    </tr>
    {% for dto in traffic_data %}
    <tr>
      <td>{{ dto.sectionID }}</td>
      <td>{{ dto.highway }}</td>
      <td>{{ dto.section }}</td>
      <td>{{ dto.sectionLength }}</td>
      <td>{{ dto.sectionDescription }}</td>
      <td>{{ dto.date }}</td>
      <td>{{ dto.description }}</td>
      <td>{{ dto.group }}</td>
      <td>{{ dto.type }}</td>
      <td>{{ dto.county }}</td>
      <td>{{ dto.adt }}</td>
      <td>{{ dto.direction }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}