{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block content %}
  <h2 class="mb-3">Traffic Data</h2>
  <div class="btn-group mb-3" role="group" aria-label="Data actions">
    <button onclick="location.href='{% url "reload_data" %}'" class="btn btn-primary">Reload Data</button>
    <button onclick="location.href='{% url "persist_data" %}'" class="btn btn-primary">Persist Data</button>
    <button onclick="location.href='{% url "insert_data" %}'" class="btn btn-primary">Add new record</button>
  </div>
  <form method="POST" action="{% url 'delete_selected_data' %}" id="dataForm">
    {% csrf_token %}  
    <table class="table">
    <tr>
      <th>Select</th>
      <th>Unique ID</th>
      <th>Section ID</th>
      <th>Highway</th>
      <th>Section</th>
      <th>Section Length</th>
      <th>Section Description</th>
      <th>Date</th>
      <th>Description</th>
      <th>Group</th>
      <th>Type</th>
      <th>County</th>
      <th>ADT</th>
      <th>Direction</th>
    </tr>
    {% for data in traffic_data %}
    <tr>
      <td><input type="checkbox" name="selected_data" value="{{ data.id }}"></td>
      <td>{{ data.id }}</td>
      <td>{{ data.sectionID }}</td>
      <td>{{ data.highway }}</td>
      <td>{{ data.section }}</td>
      <td>{{ data.sectionLength }}</td>
      <td>{{ data.sectionDescription }}</td>
      <td>{{ data.date }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.group }}</td>
      <td>{{ data.type }}</td>
      <td>{{ data.county }}</td>
      <td>{{ data.adt }}</td>
      <td>{{ data.direction }}</td>
      <td><a href="{% url 'edit_data' data.id %}">Edit</a></td>
    </tr>
    {% endfor %}
  </table>
  <button type="submit" onclick="submitForm('{% url 'delete_selected_data' %}');" class="btn btn-danger">Delete Selected</button>
  <button type="submit" onclick="submitForm('{% url 'display_selected_data' %}');" class="btn btn-success">Display Selected</button>
</form>
<script>
  function submitForm(action) {
      document.getElementById('dataForm').action = action;
  }
</script>
{% endblock %}